body {
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    background: #FFFBA0;
    font-family: 'Inconsolata', monospace;
    text-align: center;
  }

main {
    background: white;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    padding: 2rem 0; 
  }

h1 { 
    margin: 3rem 1rem 6rem 1rem;
  }

#gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.artObject {
    max-width: 80%;
    max-height: 20rek;
    margin: 1rem;
  }

.artObject:hover{
    transform: scale(1.1);
    max-width: 100%;
    max-height: 30rek;
}