

body {
  margin: 0;
  padding: 2rem 0;
  width: 100%;
  background: #FFBA00;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

.formSection {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

}
textarea {
  vertical-align: top;
  height: 5rem;
}

button {
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: solid 1px transparent;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #ffffff;
  background-color: black;
}

